<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
      <h2>NIZAMABAD</h2>
      <hr>
        <!--1  card-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\Sriram-Sagar-Dam.jpg" alt="sri ram" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Sri Ram Sagar Dam</h4>
            <p class="card-text">Pochampad Dam, also known as “Sri Ram Sagar project” Stands tall across Godavari River Which is considered as a Lifeline of North Telangana Region. Beautiful garden has been developed at the dam premises which offers boating facility in the picturesque waters of the massive reservoir.</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
          
        </div>
        <br>

        <!-- 2 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\AshokSagarLake.jpg" alt="ashok Sagar" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Ashok Sagar/Jankampet Lake</h4>
              <p class="card-text">Yet another location that synonymous with the town's serenity, Ashoksagar, situated about 7 km from Nizamabad, is another must see for travelers. It is an eco friendly tourist place and the main attraction are the rock gardens here.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>

          </div>
          <br>

          
          <!--3  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\nzbfort.jpg" alt="Nizamabad fort" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Nizamabad Fort</h4>
              <p class="card-text">Nizamabad Fort is situated in Nizamabad City of Telangana.

                Nizamabad Fort is one of the important historical monuments of the Nizamabad city. It is an ancient fort was built by the Rashtrakuta kings who ruled this region. This magnificent fort was occupied by Allauddin Khilji, followed by the Bahamanis, Qutub Shahis and eventually by Mughals.
                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!-- 4 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\nizamsagar.jpg" alt="nizam sargar dam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Nizam Sagar Dam</h4>
              <p class="card-text">Located about 7 km south west of Nizamabad, Nizamsagar is a dam situated in Achampet village. The dam is constructed on river Manjira, a major tributary of the Godavari river.

            </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          </div>
          <br>

          
          <!-- 5 card-->
          <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\alisagar.jpg" alt="Ali Sagar Dam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Ali Sagar Dam</h4>
              <p class="card-text">The perfect picnic getaway, Alisagar, is located about 13 km from Nizamabad. A sprawling 33 acres garden, complete with flora, a deer park and a lake, Alisagar, built by the Nizam of Hyderabad, is the place to spend an enjoyable day.

            </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!-- 6 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\sarangpurhanumantemple.jpg" alt="Sarangapur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sarangapur Hanuman Temple</h4>
              <p class="card-text">Sarangapur Hanuman Temple is situated at Sarangapur is another important pilgrim site in Nizamabad district.

                It is believed that the deity gives immense mental and physical strength to the devotees.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!-- 7 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\Koulasfort2.jpg" alt="Koulas Fort" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Koulas Fort</h4>
              <p class="card-text">Koulas Fort is situated near Koulas village in Nizamabad district.

                Koulas Fort is a massive fort dating back to the 14th century, spread across 6 sq km and located in Jukkal mandal close to Bidar - Nanded road. This fort was built by Kakatiya rulers.
                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!-- 8 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\khillaramalayam.jpg" alt="Khilla Ramalayam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Khilla Ramalayam Dichpally</h4>
              <p class="card-text">The Dichpally Ramalayam located at a distance of 20 k.m. from Nizamabad enroute Hyderabad. The temple was built in the 14th century by Kakatiya Kings, the Dichpally Ramalayam is the one of the oldest temple in the Nizamabad.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          </div>
          <br>

          <!-- 9 card-->
          <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\jankampet.jpg" alt="Narsimha" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Laxmi Narsimha Swamy Temple Jankampet</h4>
              <p class="card-text">Sri Lakshmi Narasimha Swamy Temple is located at Jankampet in Nizamabad District of Telangana.

                Sri Lakshmi Narasimha Swamy Temple is dedicated to Lord Narasimha an incarnation of Lord Vishnu.
                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!-- 10 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\domakonda1.jpg" alt="Domakonda" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Domakonda Fort</h4>
              <p class="card-text">Domakonda Fort is situated in Domakonda Village in Nizamabad district of Telangana.

                Domakonda was a princely region under Qutb Shahis and Asaf Jahis. The Reddy rulers of Domakonda built the fort in the 18 century at a sight where a fort existed earlier.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>

          <!-- 11 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\nelakanteshwara-mubnr.jpg" alt="Sri Neelakanteshwara" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Neelakanteshwara Temple</h4>
              <p class="card-text">The Neelkanteshwara temple is a classic example of Jain architecture and an important shrine for the Jains. Located on top of a hillock in Nizamabad, it is one of those shrines which are as beautifully located as they are peaceful and serene.

            </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
 <!-- 12 card-->
 <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\mallaram-nzb.jpg" alt="Mallaram Forest" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Mallaram Forest</h4>
      <p class="card-text">Lush green environment, invigorating air and quietness of the woods beckon one to this place, situated about 7 km south west of Nizamabad town. This place houses rocks that are about a billion years old.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
   
  </div>
          
          </div>
          <br>
  
          <router-outlet></router-outlet>
</body>
</html>
