
    <p>
      At a distance of 36 km from Karimnagar, 127 km from Nizamabad and 151 km from Hyderabad, Vemulawada is one of the most famous pilgrimage sites in Telangana and also one of the popular one day trip from Hyderabad.

      Vemulawada is famous for the temple of Rajarajeshwara Swamy, an incarnation of Lord Shiva. It was built by one of the governors of Kalyani Chalukyas by name Rajadithya between 11th and 12th centuries. The presiding deity is locally popular as Rajanna who is accompanied by the idols of Sri Raja Rajeswari Devi and Siddi Vinayaka. It houses several temples dedicated to other deities including Anantha Padmanabha Swamy, Bhimeshwara Swamy, Kodanda Rama and Kasi Visweswara. Apart from these there is a tomb of Muslim saint.
      
      Located on the banks of Mulavagu stream, Vemulawada was once the capital city of Vemulawada Chalukyas dynasty between 750-973 CE. The remains of the temples and sculptures show the great architecture of Chalukyas. There are several inscriptions available that refer the reign of Chalukyas. It was earlier known as Lemulavatika, Lembulavade, and finally transformed into Vemulawada.
      
      According to the legend, Lord Siva after having stayed at Kashi, Chidambaram, Srisailam and Kedareswar chose to reside at Vemulawada. Vemulawada was ruled by the dynasties of Ikshwakus, Satavahanas and the Chalukyas who made it their state capital. The place is also associated with the 11th Century Telugu poet, Vemulawada Bheemakavi.
      
      Agraharam Hanuman Temple, Baddi Pochamma Temple and Nampally Gutta are the nearby attractions of Vemulawada. Every year at the time of Maha Shiva Rathri, more than 5 lakh people visit Vemulavada. During Sravana Masam and Karthika Masam, the temple attracts large crowd. Accommodation is also available in Vemulawada if you are planning to stay a day.
      
      Temple Timings: 4 am to 9 pm.
    </p>

