<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <h2>Khammam</h2><hr>
        <!-- 1 card-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\BHADRACHALAM6.jpg" alt="bhadrachalam" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Sri Sitaramachandra Swamy Bhadrachalam</h4>
            <p class="card-text">Bhadrachalam is a pilgrimage town in Khammam district of Telangana State, situated on the banks of the River Godavari.Bhadrachalam is renowned for the famous Sri Rama Temple built in 17th century and is one of the best tourist places near Hyderabad.</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
        <br>

        <!-- 2 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\kinnerasanikhammam4.jpg" alt="kinnerasani" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Kinnerasani Wildlife Sanctuary</h4>
              <p class="card-text">Sprawling over a vast area of almost 635 sq. kms, Kinnersani Wildlife Sanctuary is situated in the Khammam district of Telangana. Nestled amidst the Dandakaranya Forest, the sanctuary is flanked by river Godavari on one side.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!--3  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\palairlake1.jpg" alt="palar lake" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Palair Lake</h4>
              <p class="card-text">The Palair lake is situated in the Palair Village, located 30 km from Khammam town. It is a man-made lake and major a source of fresh water to the Khammam district.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!-- 4 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\khammamlaxminarashima1.jpg" alt="Narasimha swami" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Narasimha Swami Temple</h4>
              <p class="card-text">the Narsimha Swami or Narsimhadri temple, situated on a hill called Stambhadri, is said to have existed since 1.6 million years.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          </div>
          <br>

          <!-- 5 card-->
          <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\khammamfort4.jpg" alt="Khammam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Khammam Fort</h4>
              <p class="card-text">Initiated in 950 AD and completed by the year 1000, this fort has seen many change of reigns. Depicting architecture of both Muslim and Hindu reigns, Khammam Fort has recently completed 1000 years of existence and is a major tourist destination.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

          <!-- 6 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\Jamalapuram_Temple-khammam3.jpg" alt="jammalapuram" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Jammalapuram Temple</h4>
              <p class="card-text">Jammalapuram is a quaint village situated near Yerupallam, a town in Khammam district. This village housed many temples but the main temple is of Swami Venkateshwara, who's the presiding deity of the village.

              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!-- 7 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\dhanvavayi-khammam.jpg" alt="dhanvavayi" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Dhanavayi Gudem Park </h4>
              <p class="card-text"> Khammam is adored by tourists for its exotic parks. Dhanavayi Gudem Park provides the residents a chance to take a break for a while and have fun. Feel free to admire the greenery, meditate, read a book, arrange a date.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

          <!--8  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\nelakondapallikhamam2.jpg" alt="nelakondapali" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Nelakondapalli</h4>
              <p class="card-text">If you’re fond of cultural, religious, or historical exploration, and if you happen to have a marked fascination with architecture, then the grand temples of this place are bound to enthrall you.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
            </div>
          </div>
          <br>

          <!--9  card-->
         
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\ayyapakkammam.jpg" alt="ayyappa" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Swami Ayyappa Temple</h4>
              <p class="card-text">The Swamy Ayyapan Temple is generally busy during the Manual Madam that is between the months of Mid-November and January ending at par with Sabiramala temple. Everyday huge numbers of devotees pray here Swamy Ayyappan temple and many different rituals are being held every day here.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           </div>
       
        
        <br>

          





          <router-outlet></router-outlet>  
</body>
</html>

