<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
      <h2>nalgonda</h2><hr>
        <!--1 card-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\yadagirigutta.jpg" alt="yadagirigutta" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Yadagiri Gutta</h4>
            <p class="card-text">Yadagiri gutta in Nalgonda is a temple of Narasimha swamy, an epitome of Lord Shiva. Narasimha swamy is also known as Yadagiri after which the temple was named. The temple is located in Yadagirigutta town, of Nalgonda district, Telangana. It is 52km away from the city of Hyderabad.</p>
            <a href="#a" class="btn btn-primary">See Profile</a>
          </div>
          
        </div>
        <br>

        <!--2 card-->
        
            
            <div class="card" style="width:400px">
              <img class="card-img-top" src=".\assets\images\surendrapuri6.jpg" alt="surendrapuri" style="width:100%;height: 300px;">
              <div class="card-body">
                <h4 class="card-title">Kunda Satyanarayana Kala Dhamam(Surendrapuri)</h4>
                <p class="card-text">Surendrapuri is a center of great interest for those who into mythology and is a theme park known as Mythological Awareness Center. Located near Yadagirigutta, the place was created by Kunda Satyanarayana to commemorate the memory of his son Surendra.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
              
            </div>
            <br>

            <!--3 card-->
               
                <div class="card" style="width:400px">
                  <img class="card-img-top" src=".\assets\images\nagarjunasagar1.jpg" alt="Nagar sagar Dam" style="width:100%;height: 300px;">
                  <div class="card-body">
                    <h4 class="card-title">Nagarjunasagar Dam</h4>
                    <p class="card-text">World's largest masonry dam protected with 26 gates measuring 14m in height and 13m in width, Nagarjunasagar Dam located in Nalgonda District is built across River Krishna.

                        The dam has a storage capacity of nearly 11,472 million cubic meters with an irrigation capacity for 10 acres of land. The dam measure 150m tall and 16 kms in length while also being a major tourist attraction.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                  </div>
                  
                </div>
            

                <!--4 card-->
                
                    
                    <div class="card" style="width:400px">
                      <img class="card-img-top" src=".\assets\images\kolanupaka.jpg" alt="kolanupaka" style="width:100%;height: 300px;">
                      <div class="card-body">
                        <h4 class="card-title">kolanupaka Jain Temple</h4>
                        <p class="card-text">A popular Jain shrine, Kolanpaku Jain Temple or Sri Shwethambar Jain Mandir is located in Kolanpaku Village close to an ancient town of Aleru Mandal. The temple features the idol of three Jain Tirthankaras namely Lord Mahaveera, Lord Neminath and Lord Adinath.</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                      </div>
                      
                    </div>
                    </div>
                    <br>

                  

                        <!--5 card-->
                        <div class="card-deck">
               <div class="card" style="width:400px">
                              <img class="card-img-top" src=".\assets\images\nandikonda.jpg" alt="Nandikonda" style="width:100%;height: 300px;">
                              <div class="card-body">
                                <h4 class="card-title">Nandikonda</h4>
                                <p class="card-text">A small village of great religious as well as archeological significance, Nandikonda is nestled along the banks of River Krishna near Nagarjuna Sagar Dam.</p>
                                <a href="#" class="btn btn-primary">Read more</a>
                              </div>
                              
                            </div>
                            <br>
 
                            <!--6 card-->
                            
                                
                                <div class="card" style="width:400px">
                                  <img class="card-img-top" src=".\assets\images\pangalnalgonda.jpg" alt="panagal" style="width:100%;height: 300px;">
                                  <div class="card-body">
                                    <h4 class="card-title">Panagal(Panagallu)</h4>
                                    <p class="card-text">Panagal is another important village in Nalgonda District located just 3 km from the main city and is known for its historic importance. The village in 11th century AD serves as the capital of Kakatiya Dynasty, however today it is famed as a highly religious place.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                  </div>
                                  
                                </div>
                                <br>

                                <!--7 card-->
                                
                                    
                                    <div class="card" style="width:400px">
                                      <img class="card-img-top" src=".\assets\images\buvanagirifort.jpg" alt="Bhuvanagiri" style="width:100%;height: 300px;">
                                      <div class="card-body">
                                        <h4 class="card-title">Bhuvanagiri Fort</h4>
                                        <p class="card-text">A majestic structure that reflects the relics of 12th century is a Fort of Bhuvanagiri or Bhongir constructed by Tribhuvanamalla Vikramaditya, a Chalukya ruler.</p>
                                        <a href="#" class="btn btn-primary">Read more</a>
                                      </div>
                                     
                                    </div>
                                
                                    <br>

                                    <!--8 card-->
                                   
                                       
                                        <div class="card" style="width:400px">
                                          <img class="card-img-top" src=".\assets\images\phanigiri_budhismnalgonda.jpg" alt="Phanagiri" style="width:100%;height: 300px;">
                                          <div class="card-body">
                                            <h4 class="card-title">Phanagiri Buddist Site</h4>
                                            <p class="card-text">Regarded as most popular Buddhist site in the country, Phanigiri is situated about 52 km from Nalgonda town. The place comprises of a Buddhist complex which is adorned with a massive Stupa along with two apsidal halls with stupas in it.</p>
                                            <a href="#" class="btn btn-primary">Read more</a>
                                          </div>

                                        </div>
                                        </div>
                                       
                                        <br>

                                        <!--9 card-->
                                        <div class="a">
                                          <div class="card b" style="width:25%" >
                                              <img class="card-img-top" src=".\assets\images\mattapallinalgonda.jpg" alt="mattapalli" style="width:100%;height: 300px;">
                                              <div class="card-body">
                                                <h4 class="card-title">Mattapalli Temle</h4>
                                                <p class="card-text">Mattapalli or Mattampalli, a small quaint village situated on the banks of River Krishna is mainly renowned for its Narasimha Swami Temple. Counted as one of the Pancha Narasimha Kshetras out of total five, this beautiful temple is dedicated to Sri Yogananda Lakshmi Narasimha Swami, Sri Chenchu Lakshmi Thaayar and Sri Rajya Lakshmi Thaayar.</p>
                                                <a href="#" class="btn btn-primary">Read more</a>
                                              </div>
                                             
                                            </div>

<br>
                                            <!--10 card--->
                                        
                                                
                                            <div class="card b" style="width:25%;">
                                                  <img class="card-img-top" src=".\assets\images\vaadapallinalgonda2.jpg" alt="vaadapalli" style="width:100%;height: 300px;">
                                                  <div class="card-body">
                                                    <h4 class="card-title">Vaadapalli</h4>
                                                    <p class="card-text">Nestled at the confluence of River Musi and River Krishna, Vaadapalli is a quaint village lying on the banks of River Godavari. The village is however renowned for its famed Sri Venkateswara Swamy Temple and its annual celebration of festival Brahmotsavam.</p>
                                                    <a href="#" class="btn btn-primary">Read more</a>
                                                  </div>
                                                  
                                                  </div>
                                                </div>
                                                
                                             <br>
                                        
                                          


                                         
                                                <router-outlet></router-outlet>                                 
 </body>   

</html>
