<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p> St. Joseph Church is a famous church of Andhra Pradesh which is visited by devotees, especially during Christmas. Noted as the best cathedral church in the entire state, St. Joseph Church is visited by many locals and foreign tourists as well.</p> 
</body>
</html>
