<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      <h2>MAHAHUBNAGAR</h2>
        <!--1  card-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\pillalamari.jpeg" alt="pillalamari" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Pillalamari Mari Tree</h4>
            <p class="card-text">One of the most delightful places to see in Mahabubnagar is a famous banyan tree called Pillalamarri, at a distance of four kms from the town. It has a tomb dedicated to Muslim saint. It is a 700-year old banyan tree while the branches extend over an area close to 3 acres.

            </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
          
        </div>
        <br>

         <!-- 2 card-->
         <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\alampur1.jpg" alt="alampur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Alampur</h4>
              <p class="card-text">According to puranas there are four entrances to Srisailam. The east one is considered to be Tripurantakam, Siclcihavattam to the south, to the North it is believed to be Umamaheshwaram and to the west, it is considered Alampur. The town is home for Nava Brahma Temples, a cluster of nine temples built by the Chalukya rulers, which are situated on the west bank of the River Tungabhadra.

            </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

           <!--3  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\srirangapur-mbubnr.jpg" alt="srirangapur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Srirangapur</h4>
              <p class="card-text">Srirangapur located near Wanaparthy is home to Sri Ranganayakaswamy temple built in 18th century A.D. It was built by Sri Krishnadeva Raya close to Rama Pushpakarni Lake.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

           <!-- 4 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\somashila.jpg" alt="someshwara" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Lalitha Someswara Swamy Temple Somasila</h4>
              <p class="card-text">Sri Lalitha Someswara Swamy temple is a Hindu temple located at Somasila village in Mahabubnagar district of Telangana.

                Sri Lalitha Someswara Swamy Temple is a highly revered shrine dedicated to Lord Shiva. It is believed to have been built during the 7th century.

            </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          </div>
          <br>

           <!--5  card-->
           <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\gadwalfort1.jpg" alt="gadwal" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Gadwal Fort</h4>
              <p class="card-text">Mahaboobnagar district in Telangana is referred to as territorial district, because it had many territorial rulers than any other place in the state. Gadwal is a famous place among these and was called ‘Vidvadgadwala’ historically.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

           <!-- 6 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\Jurala_Dam.jpg" alt="jurala dam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Jurala Dam</h4>
              <p class="card-text">The Jurala project, which is also known as the Priyadarshini Project is located at a distance of 10 kilometers from Kurvapur village in the Mahabubnagar district of Telangana. Laid over the Krishna River, the Reservoir is at a level of 1045 feet.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

           <!--7  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\maganoor.jpg" alt="Venkateshwara" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Swayambhu Lakshmi Venkateshwara Swamy Temple Maganoor</h4>
              <p class="card-text">Long back this area was called as Gundilaranya. Once Mandvya Maharshi is going to Tirupathi for participate in Brahmostavas, when he reached to Krishna River, it was flowing fully and he received a message from the God to to stop at Gundilaranya. </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
        
          </div>
          <br>

           <!-- 8 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\peddacheruvmhbr1.jpg" alt="pedda cheruv" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Pedda Cheruv</h4>
              <p class="card-text">With all drains in Mahbubnagar letting out dirty water into Pedda Cheruvu, the much-hyped tourism project taken up by the government to convert the lake into a mini Tank Bund may meet the same fate as Hussainsagar in Hyderabad.

                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          </div>
          <br>

           <!--9  card-->
           <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\mayuri-mahababnagar4.jpg" alt="mayuri" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Mayuri Hatha Vanam(Eco Park)</h4>
              <p class="card-text">Mayuri Haritha Vanam is an ideal location of eco-tourism project in district. located between Mahbubnagar and Jadcherla highway. This lies on the slopes of Bontagattu mountain (Appanapally Urban Lung Forest Block) range, the hilly slopes, valleys and flat mountain tops dotted with trees and a large spread of green forest cover all around provide the perfect venue for the tourists to enjoy the beauty of the region.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

           <!--10  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\koilkonda-mbhubnr.jpg" alt="koilkonda" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Koilkonda Fort</h4>
              <p class="card-text">Koilkonda Fort is situated at Koilkonda in Mahabubnagar district of Telangana. This is one of the best one day trip from Hyderabad.

                Koilkonda Fort is the erstwhile outpost of the Qutab Shahi dynasty situated on a hilltop. To reach the top, one needs to hike across a deep gorge on the west or a series of streams if coming through east before reaching a plight of steps that leads to the fort.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

           <!--11  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\sriramakong-mhbunar.jpg" alt="ramakonda" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Ramakonda Temple Koilkonda</h4>
              <p class="card-text">Sri Ramakonda Temple, Koilkonda: Lord Srirama put his leg in Thretayuga along with his wife Sita and brother Lakshmana when he was in Aranyavasa (forest dwelling) so that this hill is known as Srirama Konda. Lord Rama has stayed here for some time and we can witness the foot print of Lord Rama till today. A stone is known as Sitamma Gundu on the top of the hill on which Sitadevi sat.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

           <!-- 12 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\koilsagardam.jpg" alt="koilsagar" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Koilsagar Dam</h4>
              <p class="card-text">The Koilsagar Dam is located in Koilsagar Village of the Deverakadra Mandal in the Mahabubnagar District of Telangana. Teeming with water, the Koilsagar Dam is one of the most preferred tourist attractions of Mahabubnagar.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
            </div>
          </div>
          <br>

           <!--13  card-->
           <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\magalithicsites.jpg" alt="burial sites" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Megalithic Burial Sites</h4>
              <p class="card-text">Megalith Burials, Mudmal: Megalith Burials nearly 500 and above Burials are located. Here two types of Burials i.e., 1. Sisth: Which are souromded with Big rocks; and 2. Menhers: In the Middle A Circle of stones. One big piller holl be stand. Nearly 65 Menhers we can see in this site. Nearly 100 acres area is covered with this Burials.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

           <!--14  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\khillaghanpur-mhbubnr1.jpg" alt="khill ghanpur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Khilla Ghanpur/Ghanpur fort</h4>
              <p class="card-text"> Khilla Ghanpur Fort is located near Khilla Ghanpur village in Mahabubnagar district of Telangana. This is an ideal weekend getaway from Hyderabad to spend full day.

                The Ghanpur Fort is a hill fort built on a rocky hill by King Gona Ganapa Reddy in early 13th century. He ruled this area as a feudatory to Kakatiya rulers.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

           <!--15  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\jetprolu.jpg" alt="jetprolu" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Jetprolu</h4>
              <p class="card-text">Jatprole, also known as Jetaprolu is a village in Mahabubnagar district of Telangana. It is famous for wonderful Madana Gopala Swamy Temple.

                In the historic tales, Jatprole is known as Jatayuvu Kshetra. The place is where Jatayu fought with Ravana while he kidnapped Sita. This place has a very beautiful sculptures with lots of heritage importance.
                
            </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>

          </div>
          <br>

<!-- 16 card-->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\kollapur2.jpg" alt="kollapur" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Kollapur</h4>
      <p class="card-text">Kollapur is located in Mahabubnagar district of Telangana. Kollapur is famous for a wonderful palace and numerous temples. Kollapur, along with Jetprole & Somasila is an ideal weekend getaway near Hyderabad.

        Kollapur was a princely region under Nizams ruled by Hindu rulers. Most of the Nallamala region along the Krishna River was under the control of Kollapur.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  </div>
  <br>







  <router-outlet></router-outlet>

</body>
</html>

