<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--1 cards-->

    <h2>ADILABAD</h2>
    <hr>
    <div class="card-deck">
    <div class="card">
      <img src=".\assets\images\kunthala-waterfalls1.jpg" alt="kuntala" style="height:300px;">
      <div class="card-body">
        
          <h4 class="card-title">Kuntala Waterfall</h4>
          <p clas="card-text">The Kunthala Waterfalls is situated in amid of gorgeous Sahyadri Mountain Range. Kuntala waterfall is the highest waterfall in the state that plunges from a height of 150 feet. The waterfall originates from the Kadam river which is known for its picturesque forests.</p>
          <a href="#" class="btn btn-info">Read more</a>
        </div> 
      
    </div>
    <br>


  <!--2 card-->
  <div class="card">
    <img src=".\assets\images\kawal7.jpg" alt="kawal" style="width:100%;height:300px;">
      <div class="card-body">
       
          <h4 class="card-title">Kawal Wildlife Sanctuary</h4>
          <p clas="card-text">Tour to Kawal wildlife sanctuary is a tour to people of thrill and adventure loving. 50 kilometers from Mancherial and 250 kilometers from Hyderabad is the district Adilabad where this sancuary is situated.
          </p>
          <a href="#" class="btn btn-info">Read more</a>
        </div> 
      
    </div>
    <br>
    
    
      <!--3 card-->
    
      <div class="card">
     
        <div class="card-body">
            <img src=".\assets\images\pocharamwildlife.jpg" alt="pocharam" style="width:100%;height:300px;">
            <h4 class="card-title">Pochera Waterfall</h4>
            <p clas="card-text">the Pochera Waterfall is the highlight of Telangana. With the white waters powerfully plummeting from the height of a whopping 20 meters, the Pochera Waterfall is the deepest waterfalls of the entire Telangana region.
            </p>
                <a href="#" class="btn btn-info">Read more</a>
        </div>
</div>

      <!--4 card-->
     
      <div class="card">
        <img src=".\assets\images\kadileadilabad.jpg" alt="kadile" style="width:100%;height:300px;">
        <div class="card-body">
            
            <h4 class="card-title">Kadile Papahareshwar Temple</h4>
            <p clas="card-text">Dedicated to Lord Papahareshwar Swami, one of the forms of Lord Shiva, Kadile Papahareshwar Temple is a very famous temple in the area.

                The legend behind this temple says that Lord Parashurama, an incarnation of Lord Vishnu performed penance here.
            </p>
                <a href="#" class="btn btn-info">Read more</a>
           
        
        </div></div>
      </div>
<br>
      <!-- 5 card-->
      <div class="card-deck">
      <div class="card">
        <img src=".\assets\images\BasarSaraswatiTemple1.jpg" alt="Basar" style="width:100%;height:300px;">
        <div class="card-body">
          
            <h4 class="card-title">Basar Saraswathi Temple</h4>
            <p clas="card-text">A temple dedicated to Goddess of learning, Gnana Saraswati Temple is situated at the confluence of River Godavari and River Mangira in Basar. This beautiful temple is an architectural marvel of the Chalukya dynasty.

            </p>
                <a href="#" class="btn btn-info">Read more</a>
           <br>
        </div>
      </div> <br>


      <!--6 card-->
      <div class="card">
        <img src=".\assets\images\kadamdam4.jpg" alt="kadam" style="width:100%;height:300px;">
        <div class="card-body">
            
            <h4 class="card-title">Kadam Dam</h4>
            <p clas="card-text">Kadam Dam constructed over Kaddam River is located at the place where River Godavari merges with River Kadam. Constructed between 1949 and 1965, the main purpose of this dam is to provide water for irrigation of 25,000 hectares of land in Adilabad.

            </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        
      </div><br>
      

      <!--7 card-->
     
      <div class="card">
        <img src=".\assets\images\pranahita-wildlife-sanctuary2.jpg" alt="pranahita" style="width:100%;height:300px;"> 
        <div class="card-body">
            
            <h4 class="card-title">Pranahita Wildlife Sanctuary</h4>
            <p clas="card-text">Pranahita Wildlife Sanctuary is an admiring protected area of Deccan Plateau that is spread across a huge area of 136 sq. km.
        </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        
       
      </div>
      <br>



      <!--8 card-->
      
      <div class="card">
        <img src=".\assets\images\Gudem-Sri-Satyanarayana-Swamy1.jpg" alt="gudem" style="width:100%;height:300px;">
        <div class="card-body">
            
            <h4 class="card-title">Gudem Satyanaranya Swamy Temple</h4>
            <p clas="card-text">Gudem Satyanarayana Swamy Temple is of high spiritual significance. This beautiful temple is dedicated to Satyanarayana (God of Truth).

            </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        </div>
      </div><br>


      <!---9 card-->
      <div class="card-deck">
      <div class="card">
        <img src=".\assets\images\kalwaadilabad.jpg" alt="kalwa" style="width:100%;height:300px;">
          <div class="card-body">
            
            <h4 class="card-title">Kalwa Narsima Swamy Temple</h4>
            <p clas="card-text">Kalwa Narsimha Swamy Temple is also one of the major temples. Devotees who visit this temple feast on Vana Bhojanam, the meals being served to pilgrims sitting under the tree.

            </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        
      </div><br>


      <!--10 card-->
      <div class="card">
        <img src=".\assets\images\shivaram3.jpg" alt="Shivaram" style="width:100%;height:300px;">
        <div class="card-body">
            
            <h4 class="card-title">Shivaram Wildlife Sanctuary</h4>
            <p clas="card-text">Shivaram Wildlife Sanctuary is blessed with fresh water flora and fauna. Established in the year 1987, Sivaram Wildlife Sanctuary is famous for marsh crocodiles which are also known as muggar crocodiles.

            </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        
      </div><br>

      <!--11 card-->
      <div class="card">
        <img src=".\assets\images\jainath temple2.jpg" alt="jainath" style="width:100%;height:300px;">
        <div class="card-body">

            <h4 class="card-title">Jainath Temple</h4>
            <p clas="card-text">Built-in Jain style of architecture, Jainath Temple is located 21 km from Adilabad in Jainath Village. The temple is renowned for its Prakrit stone inscribed with 20 slokas that suggest that the temple was built under Pallava chief.

            </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        
    
</div>
<br>

      <!--12 card-->
      
      <div class="card">
        <img src=".\assets\images\\KanakaiWaterfallsadilabad.jpg" alt="kanakai" style="width:100%;height:300px;">
        <div class="card-body">
          
            <h4 class="card-title">kanakai Waterfall</h4>
            <p clas="card-text">Kanakai Waterfalls located in Girnur village, Telangana is an impassable 30 feet cascade of water stream descending from a cliff into a large pool at the bottom of the falls.

            </p>
                <a href="#" class="btn btn-info">Read more</a>
          
       
            </div>
        </div>
      </div><br>

      <!-- 13 card-->
<div class="card-deck">
      <div class="card">
        <img src=".\assets\images\gayathri-waterfalls2.jpg" alt="gayathri" style="width:100%;height:300px;">
        <div class="card-body">
            
            <h4 class="card-title">Gayathri Waterfall</h4>
            <p clas="card-text">Gayatri Falls is a beautiful cascading waterfall over River Kadem in the Adilabad district of Telangana. Colloquially known as Gadidha Gundam or Mukti Gundam, the waterfalls are secretly tucked in between the deep woods of the Tarnam Khurd Village.
            </p>
                <a href="#" class="btn btn-info">Read more</a>
            
        
            
        </div>
      </div><br>

      <!--14 card-->
      <div class="card">
        <img src=".\assets\images\kalaashramadilabad3.jpeg" alt="kalaashram" style="width:100%;height:300px;">
        <div class="card-body">
            
            <h4 class="card-title">Kala Ashramam</h4>
            <p clas="card-text">Kala Ashram is a place for art and science enthusiasts where visitors can witness various traditional arts, technology and science.

                Established by Ravindra Sharma, this ashram also offers book based on social issues based on rural society.
            </p>
                <a href="#" class="btn btn-info">Read more</a>
            </div> 
        
      </div><br>

<!--15 card-->
<div class="card">
  <img src=".\assets\images\st.josephchrchadilabad1.jpg" alt="chruch" style="width:100%;height:300px;">   
    <div class="card-body">
        
        <h4 class="card-title">St.Joseph Church</h4>
        <p clas="card-text">St. Joseph Church is a famous church of Andhra Pradesh which is visited by devotees, especially during Christmas. Noted as the best cathedral church in the entire state, St. Joseph Church is visited by many locals and foreign tourists as well. 
        </p>  
       <a routerLink="/visitingplaces/adilabad/adilmore" class="btn btn-info" role="button">Read more</a>
        </div>
        
</div>
</div>
<br>


<router-outlet></router-outlet>
</body>
</html>

