<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
      <h2>medak</h2><hr>
        <!--1  card-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\medak-chruch2.jpg" alt="medak" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Medak Cathedral Church</h4>
            <p class="card-text">Medak Cathedral is the largest church in entire Asia and second largest in the world after Vatican. This is one of the popular tourist places to visit in Telangana and among the prime place to visit on a Hyderabad tour.

              The Cathedral built in Gothic style was inaugurated in 1914 and completed in 1924.</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
          
        </div>
        <br>

        <!-- 2 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\singurdam-medak2.jpg" alt="singur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Singur Dam</h4>
              <p class="card-text">The Singur or Singoor dam is located near Sangareddy town of Medak district in Telangana. This is one of the scenic tourist places to visit near Hyderabad.

                Constructed across the river Manjeera, the dam provides drinking water to Hyderabad and Secunderabad. Construction of the Singur dam was started in 1979 and completed in 1989.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!--3  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\wargal1.webp" alt="wargal" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Vidya Saraswati Shani Temple</h4>
              <p class="card-text">The Saraswati Temple situated on a hillock at Wargal village in Medak District of Telangana is the most famous Saraswati temple in the state after Basara. This temple is famous for Aksharaabyasa for children. It is one of the popular pilgrimage sites around Medak & Hyderabad.
              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

          <!-- 4 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\edupayalatemple6.jpg" alt="edupayala" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Edupayala Temple</h4>
              <p class="card-text">The Temple of Sri Edupayala Vana Durga Bhavani is located near Nagasanpally in Medak district of Telangana. This is one of the popular pilgrimage sites to visit around Medak & Hyderabad and also one of the famous one day trip near Hyderabad.

                Built in 12th century, Edupayalu temple is one of the most famous and powerful temple in Telangana.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          </div>
          <br>

          
          <!-- 5 card-->
          <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\MedakFort4.jpg" alt="medak fort" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Medak Fort</h4>
              <p class="card-text">The Medak Fort is situated in Medak town of Telanagana State. This is an important historical site around Hyderabad.
</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!-- 6 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\pocharamwildlife.jpg" alt="pocharam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">pocharam Wildlife Sanctuary</h4>
              <p class="card-text">Located in the district of Medak and Nizamabad and named after the Pocharam lake, Pocharam Wildlife Sanctuary houses a large number of species of flora and fauna.

              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!-- 7 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\pocharamresrvoir1.jpg" alt="pocharam" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Pocharam Reservoir Lake</h4>
              <p class="card-text">The Pocharam Reservoir, also known as the Pocharam Dam Reservoir, is located around 14.6 km from the city centre of Medak. The reservoir was constructed between 1916 and 1922 across the Allair River, a tributary of the Manjira River.

              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

          <!-- 8 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\kuchadri-medak1.jpg" alt="Kuchadri" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Kuchadri Venkateshwara Swamy Temple</h4>
              <p class="card-text">It is an ancient Hindu temple located in Kuchanapalli village of Medak district in Telangana State. It is an abode…</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          </div>
          <br>

          <!-- 9 card-->
          <div class="a">
            <div class="card b" style="width:25%" >
            <img class="card-img-top" src=".\assets\images\chamundeshwari-medak3.jpg" alt="chamundeshwari" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Chamundeshwari Devi Temple</h4>
              <p class="card-text">History The family of Ailavajjala of Bhaaradwaaja gotra in Paatakoduru village in Nellore district of Andhra Pradesh was well known…</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
          </div>
          <br>

          <!-- 10 card-->
          <div class="card b" style="width:25%;">
            <img class="card-img-top" src=".\assets\images\kethaki-medak.jpg" alt="kethaki" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Kethaki Sangameshwar Temple</h4>
              <p class="card-text">Kethaki Sangameshwara Swamy is one of the old Shiva temples situated at Jharasangam village and Mandal, Medak district. It is said that the Shiva lingam was consecrated by "Lord Bramha ". The king of Surya Vamsha Raja Kupendra during "krutha yug" suffered from a skin disease which did not have a remedy back then.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          </div>
          
  <br>
  

<router-outlet></router-outlet>  
</body>
</html>
