.card
{
    border:3px groove green;
    border-radius: 6px;
    box-shadow: 5px 5px 3px blue;   
}
h2
{
    text-align: center;
    color: rgb(245, 23, 60);
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 1px yellowgreen;
    letter-spacing: 2px;
}
h4
{
  
    
    letter-spacing: 1px;
}
p::first-letter {
    font-size: 150%;
    color: #09f83d;
    text-transform: uppercase;
  }
  .a
  {
display: flex;

  }
  .b{
      margin: 20px;
  }