.right
{
    display: flex;
    margin-left: 350px;

}

h1
{
    text-align: center;
    color: rgb(10, 23, 216);
    text-decoration: underline;
    text-shadow: 3px 3px 2px yellow;
    text-transform: uppercase;
    background-color: rgb(219, 221, 85);
    letter-spacing: 2px;
}
