<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
      <h2>WARANGAL</h2>
      <hr>
      <div class="card-deck">
        <!--1  card-->
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\ramappa1.jpg" alt="rammapa" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Ramappa</h4>
            <p class="card-text">Ramappa Temple, was constructed in the architectural style unique to South India during the Kakatiya rule in the 12th century. This temple is revered a lot by the Hindu community and is considered to be the greatest gift to its future generations by the Kakatiya Kings.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
          
        </div>
        <br>

         <!-- 2 card-->
         <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\pakallake.jpg" alt="pakhal" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Pakhal Lake</h4>
              <p class="card-text">Around 50 km away from Warangal city is the beautiful Pakhal Lake which is spread over an area of 30 sq km. Set amidst the lush green forests and hills, the human-made lake forms a highly picturesque location.The lake also borders a wildlife sanctuary located at its shore.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
           
          </div>
          <br>

           <!--3  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\1000pillar5.jpg" alt="thousand" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Thousand Pillar Temple</h4>
              <p class="card-text">The Thousand Pillar Temple is an ancient temple that is tucked away in a small town named Hanamakonda in the vibrant state of Telangana. As the name suggests, the temple has over one thousand pillars, some of which are a part or extension of adjacent pillars! These pillars are so tightly knit.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
          </div>
          <br>

           <!-- 4 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\bhadrakalitemple1.jpg" alt="bhadrakali" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Bhadrakali Temple</h4>
              <p class="card-text">The Kakatiya Dynasty left behind numerous instance of their rich heritage and elaborate architecture. The Bhadrakali Temple, is one such structure which was built in the eight century.

              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
          </div>
          <br>
</div><hr>
<div class="card-deck">
           <!--5  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\laknavaram5.jpg" alt="laknavarm" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Laknavaram lake</h4>
              <p class="card-text">Laknavaram is a scenic manmade lake that boasts of immense natural beauty in the form of forests and hills. It is located in Govindaraopet mandal in the Mulugu district of Telangana, 80 km away from Warangal. It houses 13 small islands and also has 160 m long hanging bridge that connects the 3 islands. It is a popular for a picnic, boating and stunning sunset views.

              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
            </div>
         
          <br>

           <!-- 6 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\veeranarayaanwgl.jpg" alt="veeranarayana" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Sri Veeranayana Temple</h4>
              <p class="card-text">Sri Veeranarayana Temple, an ancient temple built around 1104 AD, is a highly revered temple located at Kolanupaka in Warangal District. This shrine encloses Shri Veeranarayana, who is considered to be an incarnation of Lord Vishnu as the main deity.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
           
          </div>
          <br>

           <!--7  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\ISKCONwgl.jpg" alt="iscon" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Iskcon Warangal</h4>
              <p class="card-text">ISKCON Warangal was established to propagate the teachings of the Bhagwad Geeta and inculcate Krishna Consciousness within a larger population in the region. The temple complex is a well maintained place of worship that offers a tranquil atmosphere to learn and soak in the divine powers of the deity.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
          </div>
          <br>

           <!-- 8 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\medaram1.jpg" alt="medaram" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Medaram</h4>
              <p class="card-text">Located in the district of Warangal in Telangana, Medaram is a tiny village. With a scanty population of approximately 3000 people, the most noticeable thing about the dainty village is it's rich and vibrant aesthetics. Medaram is popular not only in India, but is a name known in the world due to its 'Sammakka Sarakka Jatara', which is Asia's biggest biennial tribal fair.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
          </div>
          <br>
</div><hr>
<div class="card-deck">
           <!--9  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\inavolu.jpg" alt="inavolu" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Inavolu Mallana Temple</h4>
              <p class="card-text">Inavolu Mallanna Temple is an ancient temple dedicated to Mallikarjun Swami who is believed to be an incarnation of Lord Shiva. It was built by the Karkatiya Kings in the 11th century.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
          </div>
          <br>

           <!--10  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\papikondalu5.jpg" alt="papikondalu" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Papikondalu</h4>
              <p class="card-text"> Papi Kondalu is a breathtakingly beautiful hill range bounded by River Godavari in the state of Andhra Pradesh. Papi hills are a set of three hills which form a beautiful gorge on the Godavari River spread across East Godavari and West Godavari districts.
                </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            
          </div>
          <br>

           <!--11  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\eturnagaram4.jpg" alt="eturnagaram" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Eturnagaram Wildlife Sanctuary</h4>
              <p class="card-text">Surrounded with a regal air it borrows from older times is the Eturnagaram Wildlife Sanctuary or Eturnagaram forest wildlife refuge which is located nearby Warangal town.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>

          </div>
          <br>

           <!-- 12 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\padmakshitemple3.jpg" alt="padmakshi" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Padmakshi Temple</h4>
              <p class="card-text">A temple , dedicated to Goddess Padmakshi, dating back to early 12th century houses instance of some exquisite architecture and a pillar that gather about itself much fascination by its visitors. The Annakonda Pillar, a quadrangular pillar stands at the entrance of the structure.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
           
          </div>
          </div><hr>
          


 <!--13  card-->
 <div class="card-deck">
 <div class="card" style="width:400px">
  <img class="card-img-top" src=".\assets\images\kakatiyamusicalgarden.jpg" alt="Kakatiya musical" style="width:100%;height: 300px;">
  <div class="card-body">
    <h4 class="card-title">Kakatiya Musical Garden</h4>
    <p class="card-text">This one of a kind, enchanting Musical garden in Warangal is located nearby the famous Bhadrakali temple. A massive garden, it overs a total of 15 acres.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
 
</div>
<br>

 <!-- 14 card-->
 <div class="card" style="width:400px">
  <img class="card-img-top" src=".\assets\images\siddeshwarawgl.jpg" alt="siddeshwara" style="width:100%;height: 300px;">
  <div class="card-body">
    <h4 class="card-title">Siddeshwara Temple</h4>
    <p class="card-text">The Siddheshwara Temple is an ancient temple dedicated to Lord Shiva and is located very close to Hanamkonda in Warangal. The temple's architecture is stunning and bears resemblance to the Chalukyan style of architecture.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
  
</div>
<br>
 <!--15  card-->
 <div class="card" style="width:400px">
  <img class="card-img-top" src=".\assets\images\zoowgl1.JPG" alt="zoo" style="width:100%;height: 300px;">
  <div class="card-body">
    <h4 class="card-title">Mini Zoo Warangal</h4>
    <p class="card-text">Mini Zoo was built in 1985 and is a famous attraction expanding over 50 acres of land with a number of species of animals, reptiles and birds thriving in a beautifully maintained green zone. The zoo has now been converted into a National Zoological Park and also houses an enchanting Butterfly Park.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
  
</div>
<br>
 <!--16  card-->
 <div class="card" style="width:400px">
  <img class="card-img-top" src=".\assets\images\govindarajulaguttawgl.jpg" alt="govindarajula gutta" style="width:100%;height: 300px;">
  <div class="card-body">
    <h4 class="card-title">Govindarajula Gutta</h4>
    <p class="card-text">Govindarajalu Gutta is a hill surrounded by dense forestation which is a treat to nature lovers for nature walks and trekking. One can get a breathtaking view of the city from the top of Govindarajalu Gutta. A small temple dedicated to Lord Rama is situated on the hill.

    </p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
  
</div>
</div><hr>

<!--17  card-->
<div class="a">
<div class="card b" style="width:25%" >
  <img class="card-img-top" src=".\assets\images\warangalfort5.jpg" alt="warangal fort" style="width:100%;height: 300px;">
  <div class="card-body">
    <h4 class="card-title">WarangalFort</h4>
    <p class="card-text">the historic Warangal Fort was built by Kakatiyas in 12th Century AD. The King Rudradeva started construction of this Fort when the capital was shifted from Hanamankonda. It was further extended by his nephew, Ganapati Deva and was finally completed by Princess Rani Rudrama Devi.
    </p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
  
</div>

<!--18  card-->
<div class="card b" style="width:25%;">
  <img class="card-img-top" src=".\assets\images\kolanupaka.jpg" alt="Kolanupaka" style="width:100%;height: 300px;">
  <div class="card-body">
    <h4 class="card-title">Kolanupaka</h4>
    <p class="card-text">
      The 2000 years old Jain Temple of Mahavira is located in Kolanupaka village (also called as Kulpak) in Nalgonda district. The temple is decorated with beautiful images of Tirthankaras and it's one of the important Jain pilgrimage sites in the country.
    </p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
  
</div>


</div>








<router-outlet></router-outlet>
</body>
</html>


