<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--kuntala-->
    <p>
        At a distance of 12 km from Neredikonda, 43 km from Nirmal, 58 km from Adilabad & 260 km from Hyderabad, Kuntala Waterfalls is situated in the middle of the Sahyadri mountain range near Neredikonda village in Adilabad District. Kuntala Falls is the highest waterfall in the state of Telangana with a height of 200 feet and also one of the popular weekend getaways from Hyderabad.

Formed by Kadam River, Kuntala falls cascades down through two steps from a rocky platform. It is one of the famous one day outings and a good weekend getaway from Hyderabad city. There is a motorable road till the entry point of waterfalls from where about 400 steps have to be trekked down to reach the bottom of the falls. The falls is about 10-15 minutes walk (one way) from the entry point. This is another popular attraction to visit as part of Hyderabad tour packages.

According to the popular and prevalent local belief Kuntala Waterfall got its name after Shakuntala, the beloved wife of King Dushyanth; the pair fell in love with each other and were mesmerized by the scenic beauty of the surroundings. The locals also believe that Shakuntala used to take bath in the waterfall.

Monsoons and post-monsoons are the best seasons to visit Kuntala Falls. It is dangerous to get into water at the bottom when the water flow is high due to sharp rocks and twists. The flow of these falls depends on the release of water from the Kadam Reservoir. The uncertainty of the water release, especially in the rainy season makes Kuntala Waterfalls a slightly dangerous place. You don't find much water after January, so avoid visiting between Jan & July.

Public transport is available till Neredikonda village from where private vehicles can be hired. The waterfall is situated in a serene location with wonderful views of the nature surrounding thick forest. The road between Neredikonda and Kuntala is filled with thick vegetation and the drive offers wonderful experience. Kuntala falls is a great location to spend a couple of hours.

Nirmal & Adilabad are base stations. There are few shops available near the falls that sell the basic things like Water.
    </p>

    <!--basara-->
    <p>
        At a distance of 35 km from Nizamabad, 158 km from Adilabad and 212 km from Hyderabad, Basara is a popular pilgrimage site located in Adilabad district of Telangana. This is also one of the top Places to visit in Telangana.

Basar or Basara is situated on the banks of River Godavari. It is a popular tourist and pilgrimage site because of the famous Saraswathi temple. The Basara temple in is a unique temple of Goddess Saraswati, the Hindu Goddess of Knowledge and Learning. Children are brought here to do the learning ceremony called Akshara Abyasam. It is believed to be one of the two oldest temples of Goddess Saraswathi in India, the other being located in Kashmir. Basara is one of the top attractions you must include in Hyderabad packages.

According to mytholpgy, Maharishi Vyas, his disciples and sage Viswamitra decided to settle down in a cool and serene atmosphere after the Kurukshetra War. In the quest for a peaceful abode, he came to Dandaka forest and pleased with serenity of the region, selected this place. Since Maharishi Vyasa spent considerable time in prayers, the place was then called 'Vasara' and turned into Basara due to the influence of the Marathi language in the region.

It is also considered to be one among the three temples created near the holy confluence of the Manjira and Godavari Rivers by the Rashtrakutas. A Karnataka king by the name Bijialudu reportedly constructed this ancient temple at Basar.

Sri Mahankali Temple, Sri Dattatreya Temple, Sri Vyasa Maharshi Guha, Sri Vedavathi Shila (Sri Vedavathi stone), Godavari river and Lord Shiva temple at river Godavari bank are the other attractions in Basara.

The town is also home to a Rajiv Gandhi University of Knowledge and Technology offering engineering courses. It was established in the year 2008. The course offered is a six year integrated engineering course.

The best time to visit Basara is from October to March. Accommodation is available with several temple guest houses and private lodges.

Temple Timings: 4 am -12:30 pm and 2 pm - 8:30 pm.
    </p>

    <!--pochara-->
    <p>
        At a distance of 40 Kms from Nirmal, 50 Kms from Adilabad, 257 Kms from Hyderabad and 22 Kms from Kuntala Falls, Pochera Falls is a pretty waterfall on Kadam River. The falls are located at a distance of 10 Kms from Neredikonda village between Nirmal & Adilabad (a diversion is required at Boath cross roads). Pochera Falls is one of the popular Tourist places in Telangana and also one of the best places to visit near Hyderabad.

The water flows through rocky bed over several steps to finally descend into a big pool from a height of about 40 feet in 2 steps. The surroundings of the falls are maintained well along with a park by Tourism department. Motorable road is available till the falls. Monsoons and post-monsoons are the best seasons to visit Kuntala falls. It is not recommended to get into bottom of the falls during peak monsoons. However, there is a small stream at left cornor of the main falls where visitors can play safe in the waters.

The waterfall is situated in a beautiful location with breathtaking nature. The surrounding are well maintained and it can be a good picnic spot along with Kuntala Falls. You don't find much water after January, so avoid visiting between Jan & July.

There are no shops available near the waterfall. It is advisable to carry water and food from Boath cross roads or Nirmal. Public transport is available till Boath corss roads from where private vehicles can be hired. Nirmal & Adilabad are base stations.
    </p>
<!--jainath-->
    <p>
        At a distance of 0.5 km from Jainath Bus Stand, 22 km from Adilabad Railway Station and 327 km from Hyderabad, Sri Narayana Swamy Temple is situated at Jainath in Adilabad District of Telangana.

Sri Narayan Swamy Temple also known as Jainath Temple is an ancient temple built by Pallava chiefs. This temple is also popular for its Jain style architecture, thus, the village is called Jainath. The pillars inside the temple are extensive carved with beautiful sculptures. The outer walls of the temple and the vimana over the sanctum exhibit wonderful piece of art work.

Jainath Temple is one of the ancient pilgrimage centers in Adilabad and also an important architectural monument of Pallava dynasty (4th to 9th century CE) in Telugu region. This is a small structure built on a platform which is 2 feet high. The temple is dedicated to Lord Lakshmi Narayana. The idol of the deity in the sanctum sanctorum is 6 feet tall in standing position and is made of black stone.

The temple has several stone inscriptions depicting the history of the temple along with slokas inscribed on it. Pallavas are famous for their rock-cut and structural temples (Mahabalipuram and Kanchi temples).

The Laxmi Narayana Swamy Bramhotsavam celebrated in (October/November) attracts a large number of devotees. A unique feature of the temple is that the rays of the sun would touch the feet of Lord Lakshmi Narayana Swamy on full moon day that follows after Dussehra.

Timings: 6 AM to 8 PM.
    </p>
<!--kadam dam-->
    <p>
        At a distance of 2 km from Kaddam & Peddur Bus Stand, 51 km from Nirmal, 110 km from Adilabad and 267 km from Hyderabad, Kadam Dam is located at Kaddam Peddur in Adilabad District of Telangana.

The Kadam Dam is also known as Kadam Narayana Reddy dam, named after popular politician of the region. It is a major reservoir constructed over Kadam River, a tributary river of Godavari. The dam is built at the place where Godavari River merges with River Kadam. Construction of the reservoir initiated in 1949 and completed in 1964.

The main purpose of this dam is to irrigate about 25000 hectares in Adilabad District. However, currently the dam is equipped to irrigate an ayacut of 68000 hectares. The dam is popularly known as the Godavari North Canal project. The Project has been integrated with Sriram Sagar Project. It has two major canals for water distribution, the Left Canal length is 76.8 km and Right Canal length is about 8 km.

Boating facility is available in the reservoir. It is an ideal destination for nature lovers as the dam is situated amidst beautiful surroundings. There is a nice park adjacent to the reservoir and it's a good place to visit. The gushing water from the flood gates during monsoon season is an awe-inspiring moment for tourists. Monsoon and post-monsoon is the best season to visit this place. It attracts large number of tourists when the dam gates are open (around Sep/Oct)

The dam is very close to Nirmal - Mancherial Road and easily accessible. The road condition is good.

Timings: 6 AM to 6 PM.
    </p>

    <!--gayatri waterfalls-->
    <p>
        At a distance of 5 km from Tarnam Khurd Village, 19 km from Kuntala Waterfalls, 38 km from Nirmal, 59 km Adilabad and 270 km from Hyderabad, Gayathri Waterfalls is a beautiful place located in Adilabad district of Telangana.

Gayatri waterfalls is a very less known place situated on Kadem River, a tributary of Godavari River. Along with Kuntala and Pochera Falls, Gayatri falls is another fascinating waterfalls in Adilabad district. This is a a magnificent waterfall and attracts large number of tourists in monsoon season.

Gayatri waterfall is also called as Gadidha Gundam or Mukti Gundam by the villagers. It is located at a very secluded place inside deep forest near Tarnam Khurd Village. This stunning waterfall is cascading down from a height of 100 ft into the valley to create a magnificent sight. There is a pool at the bottom of the falls and visitors can reach pool and swim. The rocks are very slippery should be careful while swimming in the pool.

Neredigonda is 253 Km from Hyderabad on the way to Adilabad on NH 7. Kupti village comes after 6 km (on the same highway) where you will find sign board for Tarnam village on the right side. Turn right from here and drive for 2 Km on mud road to reach Tarnam Khurd village. One can go by vehicle only till Tarnam. From here 5 km trek is required to reach the falls. It is advisable to take a local from Tarnam Khurd village as a guide to reach this place.

There is an alternate road from Ichoda (between Neredigonda - Adilabad) via Manikpur and Tarnam Buzurg. Gayathri falls is only 2 km walk from Tarnam Buzurg. But the road between Manikpur and Tarnam Buzurg is pretty bad and becomes inaccessible during peak rains.

Trek to the waterfalls is of a moderate level and may not be suitable with kids. You may not find much water in season other than monsoon. One should carry water and food while trekking to the falls as there are no shops around.

From Tarnam Khurd, it takes about 3-4 hours to reach the falls, explore & play and come back to Tarnam.

Best time to visit this place is peak monsoon (Sep-Oct).

    </p>
<!--kanakai waterfalls-->
<p>
    At a distance of 2 km from Girnur Village, 35 km from Kuntala waterfalls, 54 km from Nirmal, 51 km Adilabad and 282 km from Hyderabad, Kanakai waterfalls is a nice waterfall on Kadem river located in Adilabad District of Telangana. This is also a good trekking destination. Bandrev waterfall and Cheekati Gundam are located in a single stretch along with Kanakai waterfalls and all three can be visited together.

The Kanakai waterfall, also called as Kanakadurga waterfalls is located near a small village called Girnur of Bazarhatnoor Mandal. There is also a Kanaka Durga temple located near the waterfall. Large number of devotees from nearby villages visit the temple during festivals. The waterfall is cascading down from a height of 30 ft. There is a big pool at the bottom of the fall. Swimming at the falls is a great experience for the visitors. When you climb up to the top of the falls, you can get the panoramic view of the falls and the surrounding area.

There are actually three falls at Kanakai. First is a small one where water flows through rocky formations forming small but wide waterfall with an average height of 10 feet, second one is the main falls (Bandrev waterfall) about 1 km from the first one where water cascades down into a big pool from a height of about 30 feet with a width of about 100 feet.. This is the place where a stream is merged into the Kadem river. Third one is called Cheekati Gundam which is few hundred meters away from the second one. It is similar to the first one with dense forest and dark surroundings. The whole area is covered with thick vegetation and sharp rock formations.

Ichoda is 273 Km from Hyderabad on the way to Adilabad on NH 7. From Ichoda, you have take left and drive towards Bazarhatnoor via Adegaon Khurd, Pipri and reach Girnur. After driving for 1 km from Girnur village, there is a sign board pointing towards a mud road on the left that leads to the temple and waterfalls. Vehicles can go further 1 km from here (not accessible in peak monsoons) and the first waterfall is further half km from there (15-20 minutes walk). It is advisable to hire a villager as guide from Girnur village.

You may not find much water in season other than monsoon. Carry enough water (shops available at Girnur). The rocks near the waterfalls are slippery and have to be careful while descending.

It takes about 3-4 hours to visit all three waterfalls, spend some time and come back to the road point.

Best time to visit this waterfall is after monsoon (Aug-Oct).

</p>
</body>
</html>

