<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>VISITING PLACES OF TELANGANA</h2><hr>

  
        <!--1  card -->
        <div class="card-deck">
    <div class="card" style="width:400px">
        <img class="card-img-top" src=".\assets\images\visiting palces.jpeg" alt="image" style="width:100%;height: 400px;">
</div>
  <!--2  card -->

<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces9.jpg" alt="no image" style="width:100%;height: 400px;">
</div>

  <!--3  card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces4.jpg" alt="no image" style="width:100%;height: 400px;">

</div>

  <!--4  card -->

<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces5.jpg" alt="no image" style="width:100%;height: 400px;">
</div>
</div><hr>

  <!--5  card -->
  <div class="card-deck">
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces6.jpg" alt="no image" style="width:100%;height: 400px;">
</div>

  <!--6  card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces3.jpg" alt="no image" style="width:100%;height: 400px;">

</div>

  <!-- 7 card -->

<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces2.JPG" alt="no image" style="width:100%;height: 400px;">
</div>

  <!--8  card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces3.jpg" alt="no image" style="width:100%;height: 400px;">
</div></div><hr>

  <!--9  card -->
  <div class="card-deck">
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces7.jpg" alt="no image" style="width:100%;height: 400px;">
</div>

  <!-- 10 card -->

<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\visiting palces10.jpg" alt="no image" style="width:100%;height: 400px;">
</div>

  <!--11  card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\telangana2.jpg" alt="no image" style="width:100%;height: 400px;">
</div>


  <!-- 12 card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\telangana4.jpg" alt="no image" style="width:100%;height: 400px;">
</div>
</div><hr>

  <!--13  card -->
  <div class="card-deck">
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\telangana6.jpg" alt="no image" style="width:100%;height: 400px;">
</div>


  <!--14  card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\telangana11.jpg" alt="no image" style="width:100%;height: 400px;">
</div>

  <!--15  card -->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\telangana9.jpg" alt="no image" style="width:100%;height: 400px;">
</div>


  <!-- 16 card -->

<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\telangana8.jpg" alt="no image" style="width:100%;height: 400px;">
</div></div><hr>

  <!-- 17 card -->
  <div class="a">
    <div class="card b" style="width:25%" >


    <img class="card-img-top" src=".\assets\images\telangana10.jpg" alt="no image" style="width:100%;height: 400px;">
</div>

  <!--18  card -->
  <div class="card b" style="width:25%;">
    <img class="card-img-top" src=".\assets\images\hyd.jpg" alt="no image" style="width:100%;height: 400px;">
</div>
</div>

<br>





  
</body>
</html>
<router-outlet></router-outlet>
