<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
        <h2>Hyderabad</h2><hr>
        <!-- 1 cards-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\dhurgamchervu4.jpg" alt="durgam" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Durgam Cheruv</h4>
            <p class="card-text">Durgam Cheruvu is a serene and picturesque lake which once served as a water source for the Golconda fort. It is a lively and vibrant spot for pedal boating, camping, and trekking. The historical lake is also popular for its sunrise and sunset views.</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
          
        </div>
        <br>

<!-- 2 cards-->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\ramojifilimcity1.jpg" alt="ramoji" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Ramoji Filim City</h4>
      <p class="card-text">Located on the outskirts of Hyderabad, Ramoji Film City is certified as the World's largest Film Studio Complex by the Guinness Book of World Records. spread over 2500 acres, it can accommodate 20 film units at one go. One can reach Ramoji Film City through a number of packaged tours and buses that leave regularly from the city.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>

  <!-- 3 cards-->
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\golkonda1.jpg" alt="golkonda" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Golconda Fort</h4>
      <p class="card-text">Golconda Fort is a massive fortress whose ruins stand proudly even today displaying the glory of its rich past and some untold sagas of the city's history. It is reputed for being the area where once, the mighty Koh-I-Noor diamond was stored. In the evening, Golconda Fort comes to life with the light and sound show.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  
  <br>

  <!-- 4 cards-->

  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\hussainsagar8.jpg" alt="hussain" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Hussain Sagar Lake</h4>
      <p class="card-text">Hussain Sagar Lake is one of a largest man-made lake situated in Hyderabad. Renowned for its monolith of Lord Buddha placed right at the center of the lake, the place is famously known as a Tank Bund, a popular spot of tourist attraction.

    </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  </div>
  <br>

  <!-- 5 cards-->
  <div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\zoohyd7.jpg" alt="zoo" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Nehru Zological Park</h4>
      <p class="card-text">With about a 100 species finding habitats here, the Nehru Zoological Park is one of the largest zoos in India. Also known as Hyderabad Zoo, it houses the Indian Rhino, Asiatic Lion, Bengal Tiger, Indian Elephant as well as panthers, pythons, deers, antelopes. The zoo also hosts safaris and educational shows.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
   
  </div>
  <br>

<!-- 6 cards-->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\salarjungmuseum2.jpeg" alt="salar" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Salar Jung Museum</h4>
      <p class="card-text">The Salar Jung Museum is located at Darushifa, on the southern bank of the Musi River, in Hyderabad. This is one of the three national museums in the country. The collection of museum was sourced from the property of Salar Jung Family and it has a myriad collection of paintings, sculptures, carvings, manuscripts etc.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>


<!-- 7 cards-->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\inorbitmall1.jpg" alt="inorbit" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Inorbit Mall</h4>
      <p class="card-text">Located in the Madhapur area in Hyderabad, Inorbit Mall is a massive mall replete with big brand stores, food chains, local eateries and game zone. The mall also has an enormous parking and a huge movie theatre.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>

  <br>

<!-- 8 cards-->
<div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\chilkur.jpg" alt="chilkur" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Chilkur Balaji Temple</h4>
      <p class="card-text">Chilkur Balaji Temple is situated in the picturesque village of Chilkur, about 30kms from Hyderabad. It is also called the VISA Temple because it is believed that paying your obeisance to the presiding deity, Lord Balaji Venkateswara, along with Sridevi and Bhoodev can grant your wishes of gaining a USA Visa!</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  </div>
  <br>

  <!-- 9 cards-->
  <div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\Charminar1.jpg" alt="charminar" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Charminar</h4>
      <p class="card-text">An identifying feature of the city, Charminar is the most prominent landmark of Hyderabad. It was erected by Quli Qutub Shah to signify the founding of Hyderabad. Everyone coming to the city, definitely visits the Charminar. It is also famous for the market that sprawls around it and is called 'Laad' or 'Chudi' Bazaar.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>

  <!--10  cards-->
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\gandipet-lake-hyderabad.jpg" alt="gandipet" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Osman Sagar Lake(Gandipet)</h4>
      <p class="card-text">On the outskirts of Hyderabad, also known as Gandipet is the Osman Sagar lake. Elless world, Ocean park and Treasure island surround this lake, making it a famous tourist destination. Spend some relaxed and enjoyable time here, with gardens and a pool, all making it an ideal spot for picnics.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>

  <!-- 11 cards-->
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\necklace-road1.jpg" alt="neck lace road" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Necklace Road </h4>
      <p class="card-text">Necklace Road is a long boulevard that encircles Hyderabad’s Tank Bund, resembling a glittering necklace. Tank Bund consists of the beautiful Hussain Sagar Lake with a giant monolithic statue of Gautama Buddha. Lined with beautiful green gardens, eat streets and local shopping, it is a popular picnic spot.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>

  <!-- 12 cards-->
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\birlamandir1.jpg" alt="birla mandir" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Birla Mandir</h4>
      <p class="card-text">One of the popular attractions in Hyderabad, Birla Mandir is dedicated to the Lord Venkateshwara of Tirumala and is modelled after and is the replica of the idol of Balaji of Tirupati. The temple itself is located at the top of a 280 feet tall hill called the Naubat Pahad that overlooks both, Hyderabad and Secunderabad and is one of the best viewpoints in the city.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  </div>
  <br>

  <!-- 13 cards-->
  <div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\shiparamhyd.jpg" alt="shilparamam" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Shilparamam</h4>
      <p class="card-text">Situated in Madhapur area of Hyderabad, Shilparamam is a traditional crafts village created with the idea to preserve and conserve traditional crafts. The village has been set amidst cascading waterfalls and lush greenery; it has sections designated to depict each region of the country. </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>

  <!-- 14 cards-->
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\sanghitemplehyd3.jpg" alt="sanghi temple" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Sanghi Temple</h4>
      <p class="card-text">the Sanghi Temple is dedicated to Hindu God Venkateswara. It situated about 35 kms from Hyderabad in Sanghi Nagar. Perched atop the Parmanand Giri Hill, it has a magnificent gopuram and boasts of marvellous architecture. </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  <br>

  <!-- 15 cards-->
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\meccamasidhyd4.jpg" alt="mecca masid" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Mecca Masid</h4>
      <p class="card-text">Mecca Masjid in Hyderabad is one of the oldest and largest mosques in the city. The bricks used here are believed to be from Mecca, and hence the name. Its interiors are a testament to the grandeur of the rulers of the Quli dynasty.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>

  <br>

  <!-- 16 cards-->

  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\Wonderla1.jpeg" alt="wondrela" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Wonderla</h4>
      <p class="card-text">Wonderla is a water and amusement park in Hyderabad replete with roller coasters, water rides, ferris wheel and a kiddie area. It is the perfect place for an outing with families, especially with little ones in tow.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
  </div>
  </div>
  <br>
<!--17 cards-->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src=".\assets\images\Peddamma-Gudi-Temple.jpg" alt="peddamma temple" style="width:100%;height: 300px;">
    <div class="card-body">
      <h4 class="card-title">Peddamma Temple</h4>
      <p class="card-text">Situated in Jubilee Hills in Hyderabad, Peddamma Temple is a Hindu temple enshrine by the supreme mother. She is the most supreme of the 11 forms of village deities. Besides the main shrines, the temple has idols of Lakshmi, Ganpathy and Saraswati.</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
    
    </div>

    <!--18 cards-->
    <div class="card" style="width:400px">
        <img class="card-img-top" src=".\assets\images\JagannathTempleHyderabd.jpg" alt="jaganath temple" style="width:100%;height: 300px;">
        <div class="card-body">
          <h4 class="card-title">Jagannath Temple</h4>
          <p class="card-text">Located in Banjara Hills, Hyderabad, Jagannath Temple is a modern Hindu temple built by the Odia community dedicated to Hindu God Jagannath- God of the Universe.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
        
        </div>

        <!--19 card-->
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\ananthagirihills.jpg" alt="ananthagiri" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Ananthagiri Hills</h4>
            <p class="card-text">Ananthagiri Hills are located at Vikarabad of Ranga Reddy district in Telangana. It is being developed as a small hill station and it's also famous destination for a day trip due to its proximity to Hyderabad. Anantagiri is one of the top Tourist places in Telangana and also one of the popular tourist places to visit in Hyderabad.
      
          </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
         
        </div>
       
        <br>
        <!--20 card-->
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\qutubshahitombshyd.jpg" alt="qutub" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Qutub</h4>
            <p class="card-text">
              Qutub Shahi Tombs are the burial ground of the 7 kings of the Qutub Shahi dynasty. The tombs are very popular for their unique architecture and grand structures. Qutub Shahi Tombs are one of the best among Hyderabad tourist places and a major heritage site in Hyderabad city.
          </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>

        </div>
        </div><hr>
        
        <!--21 card-->
        <div class="a">
          <div class="card b" style="width:25%">
          <img class="card-img-top" src=".\assets\images\lumbini park.jpg" alt="Lumbini" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Lumbini Park</h4>
            <p class="card-text">
              The Lumbini Park has been named after the birthplace of Buddha and it lies just opposite a famous Buddha statue. The boats to reach Buddha statue start from Lumbini Park.

              The park was developed as part of the Buddha Purnima project of the state government in 1994.
          </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
          
        </div>
     
        <!--22 card-->
        <div class="card b" style="width:25%">
          <img class="card-img-top" src=".\assets\images\Hyderabad_Ammapalli.jpg" alt="Sri Rama Chandra Temple Ammapalli" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Sri Rama Chandra Temple Ammapalli</h4>
            <p class="card-text">
              Sri Rama Chandra Swamy Temple of Ammapally is a very ancient Temple and famous for film shootings. This is also one of the most visited among Hyderabad tourist places.

              The Rama temple was built by Vengi kings in 13th century but the idol was 1000 years old.
              
          </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
         
        </div>
        <br>
        <!--23 card-->
        <div class="card b" style="width:25%">
          <img class="card-img-top" src=".\assets\images\Falaknuma_Palace.jpg" alt="Falaknuma Palace" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Falaknuma Palace</h4>
            <p class="card-text">
              Falaknuma Palace is one of the finest palaces in Hyderabad. It originally belonged to Paigahs of Hyderabad State, and later acquired by the Nizam of Hyderabad. It was built by Nawab Vikar-ul-Umra, prime minister of Hyderabad in 1898, brother-in-law of the Nizam VI, Nawab Mir Mahboob Ali Khan. 
          </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
          
        </div>
        </div>
     





        <router-outlet></router-outlet>   
</body>
</html>

