.img
{
    border:3px groove green;
    border-radius: 6px;
    box-shadow: 5px 5px 3px blue;  
}
h1
{
    text-align: center;
    color: rgb(3, 54, 83);
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 1px yellowgreen;
    letter-spacing: 2px;
}
h2
{
  
    color: rgb(230, 15, 140);
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 1px yellowgreen;
    letter-spacing: 1px;
}
p::first-letter {
    font-size: 200%;
    color: #09f83d;
  }
  h4
  {
    color: rgb(122, 9, 252);
    text-decoration: underline;  
  }