<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
   
      <h1>Best time to visit</h1>
        <!--1 card-->
    <h2><u>HYDERABAD</u></h2>
        <img class="card-img-bottom" src=".\assets\images\hyd.jpg" alt="" style="width: 800px;height: 400px;">
        <br><hr>
          <h4 class="card-title">Best Season to Visit Hyderabad</h4>
          <p>November to March is Best Season to Visit Hyderabad</p>
          <h4>Peak Season in Hyderabad</h4>
          <p>April to May & October to December is Peak Season in Hyderabad</p>

          <h4>Upcoming Hyderabad Weather </h4>
          <div class="card-deck">
          <div class="card-body">
          <p class="card-text"><i class="fas fa-cloud-sun"></i><br>Monday<br>22-36°C
                
</p>
              
</div>
<div class="card-body">
  <p class="card-text"><i class="far fa-sun"></i><br>
     Tuesday<br>
20-36°C</p>
    </div>

  <div class="card-body">
 <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br> Wednesday <br>
      20-38°C</p>
    
</div>
</div>
<h4>
            Winter Season:
          </h4>
          <p>
            
Generally winter is the highest season for tourism in Hyderabad. The temperature holds an amount of 13°C to 25°C during winter. This pleasant weather would perfect for outdoor activities and sightseeing. Winter starts here in the month of November and lasts till February end. The winter receives a large number of tourists during this time in Hyderabad. The Ramojirao film city is the prime attraction of Hyderabad. And you could enjoy and experience the cultural and heritage tourism of Hyderabad.
</p>
<br>
<h4>Summer Season:</h4>
<p>
Summer holds the longest time in Hyderabad, this starts from March and lasts till July end. March and April have comfortable weather condition and pleasant for outdoor activities and sightseeing. Generally, the temperature range will be between 21°C to 32°C. But this will not hamper your visits insights. May to July considers the hottest time period of Hyderabad. During this time temperature rises up to 41°C. This would be hectic for some travelers those who suffer from health issues.
</p>
<br>

<h4>Monsoon Season:</h4>
<p>
Monsoon used to reach Hyderabad from August to October. Hyderabad receives moderate to heavy rainfall. This makes the surrounding lush and has a fresh view of its greenery, and the flowers get bloomed at this time to attract more travelers.  The average amount of rainfall is 136mm and temperature goes till 20°C to 30°C. Instead of the rain, you will be comfortable with outdoor activities and sightseeing.
          </p>
          
<!--2-->
<br>
<h2><u>ADILABAD</u></h2>
<img class="card-img-bottom" src=".\assets\images\Kuntala-Waterfalls-1.jpg" alt="" style="width: 800px;height: 400px;">
<br><hr>
            <h4 class="card-title">Best Season to Visit Adilabad</h4>
          
          <p>October to March is Best Season to Visit Adilabad</p>
          <h4>Peak Season in Adilabad</h4>
          <p>October to January is Peak Season in Adilabad</p>
          <h4>Upcoming Adilabad Weather </h4><br>
          
          <div class="card-deck">
           <div class="card-body">
                <p class="card-text">
  <i class="fas fa-cloud-sun"></i><br> Monday<br>
                  21-38°C
                  </p>
                </div>
  
  
  
    <div class="card-body">
    
      <p class="card-text"><i class="far fa-sun"></i><br>
       Tuesday<br>
  21-39°C</p>
      </div>
  
    <div class="card-body">
   
      <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br>
        21-41°C</p>
      </div>
 
  </div>
  <br>

<!--3-->
          
          <h2><u>NIZAMABAD</u></h2>
          <img class="card-img-bottom" src=".\assets\images\sriramsagar.webp" alt="" style="width: 800px;height: 400px;"><hr>
          <h4 class="card-title">Best Season to Visit Nizamabad</h4>
        
        <p class="card-text">October to March is Best Season to Visit Nizamabad</p>
        <h4>Peak Season in Nizamabad</h4>
        <p>October to March is Peak Season in Nizamabad</p>
        <h4>Upcoming Nizamabad Weather </h4><br>
        

        <div class="card-deck">
          
            <div class="card-body">
             <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br>
                Monday <br>
                21-34°C</p>
           
</div>
<div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
      Tuesday<br>
      21-34°C
     </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br>21-34°C
     </p>
    </div>
</div>


        
<!--4-->
        <br>
        <h2><u>KARIMNAGAR</u></h2>
        <img class="card-img-bottom" src=".\assets\images\vemulavada1.jpg" alt="Karimnagar" style="width: 800px;height: 400px;">
        <hr>
        <h4 class="card-title">Best Season to Visit Karimnagar</h4>
     
      <p class="card-text">October to March is Best Season to Visit Karimnagar</p>
      <h4>Peak Season in Karimnagar</h4>
        <p>October to March is Peak Season in Karimnagar</p>
        <h4>Upcoming Karimnagar Weather </h4>
        <br>
        <div class="card-deck">
          
            <div class="card-body">
              <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br> Monday <br>
                21-37°C
                
                
                </p>
              </div>

  <div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
     Tuesday<br>19-38°C

   </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br>19-38°C
      </p>
    </div>
</div>
<!--5-->
<br>
<h2><u>WARANGAL</u></h2>
<img class="card-img-bottom" src=".\assets\images\ramappa1.jpg" alt="Warangal" style="width: 800px;height: 400px;">
<hr>
            <h4 class="card-title">Best Season to Visit Warangal</h4>
          
          <p class="card-text">October to March is Best Season to Visit Warangal</p>

      <h4>Peak Season in Warangal</h4>
        <p>November to February is Peak Season in Warangal</p>
        <h4>Upcoming Warangal Weather </h4><br>
        
        <div class="card-deck">
          
            <div class="card-body">
            <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br> Monday <br>
                22-38°C
                </p>
              </div>

  <div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
      Tuesday<br>
      20-38°C
    </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br>20-38°C
     </p>
    </div>
</div>

<!--6-->
<br>
<h2><u>KHAMMAM</u></h2>
<img class="card-img-bottom" src=".\assets\images\BHADRACHALAM.jpg" alt="Khammam" style="width: 800px;height: 400px;">
<hr>
            <h4 class="card-title">Best Season to Visit Khammam</h4>
          
          <p class="card-text">October to March is Best Season to Visit Khammam</p>
          
      <h4>Peak Season in Khammam</h4>
        <p>October to March is Peak Season in Khammam</p>
        <h4>Upcoming Khammam Weather </h4><br>
        
        <div class="card-deck">
          
            <div class="card-body">
             <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br> Monday <br>
                22-38°C
                </p>
              </div>

  <div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
      Tuesday<br>
      20-38°C
    </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br>20-38°C
     </p>
    </div>
</div>

<!--7-->
        <br>
        <h2><u>MAHABUBNAGAR</u></h2>
        <img class="card-img-bottom" src=".\assets\images\pillalamari.jpeg" alt="MAHABUBNAGAR" style="width: 800px;height: 400px;">
        <hr>
            <h4 class="card-title">Best Season to Visit Mahabubnagar</h4>
          
          <p class="card-text">October to March is Best Season to Visit Mahabubnagar</p>
          
      <h4>Peak Season in Mahabubnagar</h4>
        <p>October to March is Peak Season in Mahabubnagar</p>
        <h4>Upcoming Mahabubnagar Weather </h4><br>
      
        <div class="card-deck">
          
            <div class="card-body">
              <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br> Monday <br>
                22-38°C
                </p>
              </div>

  <div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
Tuesday<br>
      20-38°C
    </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br>20-38°C
     </p>
    </div>
</div>
 <!--8-->
          <br>
          <h2><u>NALGONDA</u></h2>
          <img class="card-img-bottom" src=".\assets\images\yadagirigutta.jpg" alt="Nalgonda" style="width: 800px;height: 400px;">
          <br><hr>
            <h4 class="card-title">Best Season to Visit Nalgonda</h4>
         
          <p class="card-text">October to March is Best Season to Visit Nalgonda</p>
       
      <h4>Peak Season in Nalgonda</h4>
        <p>October to March is Peak Season in Nalgonda</p>
        <h4>Upcoming Nalgonda Weather </h4><br>
      
        <div class="card-deck">
          
            <div class="card-body">
              <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br> Monday <br>
                22-38°C
                </p>
              </div>

  <div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
      Tuesday<br>
      20-38°C
    </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fa-solid fa-cloud-sun"></i>Wednesday <br>20-38°C
     </p>
    </div>
</div>

 <!--9-->
          <br>
          <h2><u>MEDAK</u></h2>
          <img class="card-img-bottom" src=".\assets\images\medak-chruch1.jpg" alt="medak" style="width: 800px;height: 400px;">
          <br><hr>
            <h4 class="card-title">Best Season to Visit Medak</h4>
          
          <p class="card-text">October to March is Best Season to Visit Medak</p>
          
      <h4>Peak Season in Medak</h4>
        <p>October to March is Peak Season in Medak</p>
        <h4>Upcoming Medak Weather </h4><br>

        <div class="card-deck">
          
            <div class="card-body">
              <p class="card-text">

                <i class="fas fa-cloud-sun"></i> <br> Monday <br>
                20-38°C
                </p>
              </div>

  <div class="card-body">
  
    <p class="card-text"><i class="far fa-sun"></i><br>
      Tuesday<br> 22-38°C
   
    </p>
    </div>

  <div class="card-body">
 
    <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br> 22-37°C
     </p>
    </div>
</div>


      <br>
        <h2><u>RANGA REDDY</u></h2>
        <img class="card-img-bottom" src=".\assets\images\medak-chruch1.jpg" alt="medak" style="width: 800px;height: 400px;">
        <br><hr>
          <h4 class="card-title">Best Season to Visit Ranga Reddy</h4>
        
        <p class="card-text">October to March is Best Season to Visit Medak</p>
        
    <h4>Peak Season in Ranga Reddy</h4>
      <p>October to March is Peak Season in Medak</p>
      <h4>Upcoming Ranga Reddy Weather </h4><br>
      <div class="card-deck">
        
          <div class="card-body">
            <p class="card-text">
              <i class="fas fa-cloud-sun"></i><br>Monday <br>
              22-35°C
               </p>
            </div>

<div class="card-body">

  <p class="card-text"><i class="far fa-sun"></i><br>
    Tuesday<br> 21-38°C
  
  </p>
  </div>

<div class="card-body">

  <p class="card-text"><i class="fas fa-cloud-sun-rain"></i><br>Wednesday <br> 22-36°C
   </p>
  </div>
</div> <br>    
        
        
        
</div>
        </body>
</html>


