<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      <h2>KARIMNAGAR</h2><hr>
        <!--1  card-->
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src=".\assets\images\vemulavada11.jpg" alt="vemulavada" style="width:100%;height: 300px;">
          <div class="card-body">
            <h4 class="card-title">Vemulavada</h4>
            <p class="card-text">Vemulawada is one of the most famous pilgrimage sites in Telangana and also one of the popular one day trip from Hyderabad.
</p>
            <a routerLink="/visitingplaces/karimnagar/karimanagar1" class="btn btn-primary" role="button">Read more</a>
          </div>
          
        </div>
        <br>

        <!-- 2 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\lmd2.jpeg" alt="lmd" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Lower Manair Dam</h4>
              <p class="card-text">Lower Manair Dam is situated at Alugunur village near Karimnagar town.

                The Lower Manair Dam (LMD) is built across the Manair River, a tributary of Godavari River. The construction of the dam was started in 1974 and was finished in 1985. 
                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!--3  card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\kondagattu1.jpg" alt="kondagattu" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Kondagattu Anjaneya Swamy Temple</h4>
              <p class="card-text">Sri Anjaneya Swamy temple located in Kondagattu village of Karimnagar district is one of the famous temples in Telangana.

                Situated on a hillock amidst beautiful hills, valleys and refreshing water springs, this is dedicated to Lord Hanuman.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>

          </div>
          <br>

          <!-- 4 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\elagandalfort3.jpg" alt="Elgandal" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Elgandal Fort </h4>
              <p class="card-text">Elgandal Fort is situated on the bank of the Maner River at Elgandal town in Karimnagar district of Telangana. This is one of the important historical sites to visit around Karimnagar & Hyderabad.

                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          </div>
          <br>

          
          <!-- 5 card-->
          <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\Kaleswaramtemple.jpg" alt="Kaleshwaram" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Kaleshwaram</h4>
              <p class="card-text">Kaleshwaram in Karimnagar district is famous for Sri Kaleshwara Muktheshwara Swamy Temple.

                Dedicated to Lord Shiva, this temple is unique because of two Shiva Lingas engraved on a single pedestal. 
                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!-- 6 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\nampallygutta.jpg" alt="Nampally" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Lakshmi Narasimha Temple Nampally Gutta</h4>
              <p class="card-text"> The temple is nestled on a small hillock on the Vemulawada - Karimnagar highway. It is a small shrine dedicated to Lord Lakshmi Narasimha, an incarnation of Lord Vishnu. The idol was carved out of the rock around which the temple was built.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          
          <!-- 7 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\dharmapuri4.jpg" alt="Dharmapuri" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Dharmapuri</h4>
              <p class="card-text">Dharmapuri is a small historical town in Karimnagar district of Telangana. It is famous for Lakshmi Narasimha Swamy Temple, one of the popular places of pilgrimage in Telangana.

                </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
           
          </div>
          <br>

          <!-- 8 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\jagitalfort.jpg" alt="Jagitial" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Jagitial Fort</h4>
              <p class="card-text">Jagityal Fort or Quilla Gadda Fort is located at Jagityal town in Karimnagar District of Telangana.

                The Jagityal fort was built during the reign of Nawab Ibrahim, a Governor in the Mughal dynasty.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          </div>
          <br>

          <!-- 9 card-->
          <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\molangur.jpg" alt="Molangur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Molangur Fort</h4>
              <p class="card-text">Molangur Fort is located at Molangur in Karimnagar District of Telangana.

                The Molangur fort was constructed on a hillock by Voragiri Moggaraju, one of the chief officers of Prathapa Rudra of Kakatiya dynasty.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <br>

          <!-- 10 card-->
        <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\nagnur-knr4.jpg" alt="Nagunur" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Nagunur Fort and Temple</h4>
              <p class="card-text">Nagunur Fort is situated in Nagunur Village in Karimnagar district of Telangana. This is an important historical site in Karimnagar district.

                The Nagunur fort was constructed in the period of Kakatiya dynasty. This fort was one of the important forts in Kakatiyas kingdom.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <!--11 card-->
          <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\Ramagiri_Fort.jpg" alt="Ramagiri" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">Ramagiri Fort</h4>
              <p class="card-text">Ramagiri Fort or Ramagiri Khilla is located in Karimnagar District of Telangana.

Ramagiri Fort often referred as Ratnagarbha has as ancient fort believed to be used by Satavahanas and Kakatiyas as their Military establishment.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          <!--12 card-->
          <div class="card" style="width:400px">
            <img class="card-img-top" src=".\assets\images\kotilingalu.jpg" alt="kotilingalu" style="width:100%;height: 300px;">
            <div class="card-body">
              <h4 class="card-title">kotilingalu</h4>
              <p class="card-text">Kotilingala is a major and famous pilgrimage site in Telangana.

                Kotilingala is situated at the confluence of Peddavagu and Godavari River. It was one of the capitals of Satavahana dynasty. It was also the capital of Assaka Janapada, one of the 16 great janapadas of early India.
                
              </p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
            
          </div>
          </div>
          <br>
  
  





          <router-outlet></router-outlet>
</body>
</html>
